@charset "UTF-8";
body {
  font-family: 'Fira Sans',sans-serif;
  background: #F1F1F1; }
  body * {
    outline: none; }
    body *:active {
      outline: none; }

h1 {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 50px;
  color: #1A1A1A; }
  @media (max-width: 991px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  font-size: 36px; }
  @media (max-width: 991px) {
    h2 {
      font-size: 22px;
      line-height: normal; } }

h3 {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #1A1A1A; }

p {
  font-weight: 300;
  line-height: 29px;
  font-size: 20px;
  color: #1A1A1A; }
  p.font-italic {
    font-size: 16px; }
  @media (max-width: 991px) {
    p {
      font-size: 18px;
      line-height: normal; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1070px; } }

.site-nav {
  padding-top: 32px;
  margin-bottom: 29px; }
  .site-nav .site-nav--container .site-nav--item {
    font-size: 13px;
    color: #3770DD;
    margin-right: 12px; }
    .site-nav .site-nav--container .site-nav--item:not(:first-of-type) {
      padding-left: 18px;
      position: relative; }
      .site-nav .site-nav--container .site-nav--item:not(:first-of-type):before {
        content: url("../assets/svg/arrow-right.svg");
        position: absolute;
        left: 0;
        top: -1px;
        bottom: 0;
        margin: auto;
        opacity: 0.3; }
    .site-nav .site-nav--container .site-nav--item:last-of-type {
      color: rgba(26, 26, 26, 0.5); }
      .site-nav .site-nav--container .site-nav--item:last-of-type:hover {
        color: #1a1a1a; }
    .site-nav .site-nav--container .site-nav--item:hover {
      text-decoration: none;
      color: #2360D6; }

button {
  outline: none !important; }

.button {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 24px 13px;
  border-radius: 3px;
  border: 0; }
  @media (max-width: 991px) {
    .button {
      font-size: 14px;
      padding: 16px 16px 15px; } }
  .button[disabled] {
    background: #C8C8C8 !important;
    color: white !important; }
  .button.button-blue {
    background: #3770DD;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: all .3s; }
    .button.button-blue:hover {
      background: #2360D6; }
  .button.button-blue-outline {
    background: transparent;
    font-weight: 300;
    color: #3770DD;
    line-height: normal;
    font-size: 16px;
    border: 1px solid rgba(55, 112, 221, 0.5);
    transition: all .3s; }
    @media (max-width: 991px) {
      .button.button-blue-outline {
        font-size: 14px; } }
    .button.button-blue-outline:hover {
      border: 1px solid rgba(55, 112, 221, 0.8); }
  .button.button-red {
    background: #D81D1D;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: all .3s; }
    @media (max-width: 991px) {
      .button.button-red {
        font-size: 14px; } }
    .button.button-red:hover {
      background: #D51212; }

.btn-icon {
  cursor: pointer;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all .3s;
  padding: 7px; }
  .btn-icon.avatar {
    padding: 0; }
    .btn-icon.avatar img {
      opacity: 1; }
  @media (max-width: 991px) {
    .btn-icon {
      padding: 0; } }
  .btn-icon.has-updates {
    position: relative; }
    .btn-icon.has-updates:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: red;
      top: 5px;
      right: 5px; }
      @media (max-width: 991px) {
        .btn-icon.has-updates:after {
          top: 0;
          right: -2px; } }
  .btn-icon svg {
    fill: #1A1A1A;
    opacity: .3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .btn-icon img {
    opacity: .3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .btn-icon:hover img, .btn-icon:hover svg {
    opacity: .8; }

.popup-container {
  position: relative; }
  .popup-container .btn-icon img:not(.avatar) {
    margin-left: 8px; }
  .popup-container .popup {
    padding-top: 12px;
    display: none;
    position: absolute;
    right: 0;
    z-index: 200; }
    .popup-container .popup:before {
      content: url("../assets/svg/popup-arrow.svg");
      position: absolute;
      top: -5px;
      width: 12px;
      height: 8px;
      right: 13px;
      z-index: 5; }
    .popup-container .popup.show {
      display: block; }
    .popup-container .popup.project-popup {
      left: 0;
      margin: auto;
      top: -16px;
      width: 164px;
      transform: translateX(-50%);
      font-size: 14px; }
      @media (max-width: 991px) {
        .popup-container .popup.project-popup {
          transform: translateX(-100%); } }
      .popup-container .popup.project-popup:before {
        display: none; }
      .popup-container .popup.project-popup .popup-content {
        left: 0;
        margin: auto; }
    .popup-container .popup.popup-info {
      top: -12px; }
      @media (max-width: 991px) {
        .popup-container .popup.popup-info {
          top: -14px;
          left: 0;
          right: unset; } }
      .popup-container .popup.popup-info:before {
        display: none; }
      .popup-container .popup.popup-info .popup-content {
        background: rgba(26, 26, 26, 0.9);
        padding: 6px 12px;
        transform: translate(30%, -100%);
        min-width: 153px;
        box-shadow: none; }
        .popup-container .popup.popup-info .popup-content p {
          color: white;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          font-size: 13px;
          margin-bottom: 0; }
    .popup-container .popup .popup-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      background: white;
      border-radius: 3px;
      padding-top: 8px;
      padding-bottom: 8px;
      right: 0;
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.24), 0px 2px 6px rgba(0, 0, 0, 0.08); }
      .popup-container .popup .popup-content.lk {
        width: 108px;
        height: 80px;
        font-size: 14px; }
      .popup-container .popup .popup-content.notifications {
        font-size: 13px;
        overflow-y: scroll;
        width: 456px;
        height: 224px;
        max-height: 224px;
        position: relative; }
        @media (max-width: 991px) {
          .popup-container .popup .popup-content.notifications {
            width: 300px;
            transform: translateX(20%); } }
        .popup-container .popup .popup-content.notifications .link {
          line-height: 17px;
          padding-right: 42px; }
        .popup-container .popup .popup-content.notifications.no-notifications {
          position: relative; }
          .popup-container .popup .popup-content.notifications.no-notifications:after {
            content: 'Все оповещения прочитаны';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            font-size: 16px;
            text-align: center;
            color: #1A1A1A;
            opacity: 0.4;
            height: 22px; }
      .popup-container .popup .popup-content .link {
        padding-top: 8px;
        padding-bottom: 7px;
        padding-left: 16px;
        color: #1A1A1A;
        width: 100%;
        line-height: normal;
        text-align: left;
        margin-bottom: 0; }
        .popup-container .popup .popup-content .link:hover {
          background: rgba(55, 112, 221, 0.1);
          text-decoration: none; }
        .popup-container .popup .popup-content .link.link-w-icon {
          padding-left: 42px;
          position: relative; }
          .popup-container .popup .popup-content .link.link-w-icon:hover img {
            opacity: .8; }
          .popup-container .popup .popup-content .link.link-w-icon img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 16px;
            opacity: .3; }

header {
  min-height: 88px;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.04); }
  @media (max-width: 991px) {
    header {
      padding-top: 20px;
      padding-bottom: 28px; } }
  header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 88px; }
    @media (max-width: 991px) {
      header .container.landing {
        justify-content: center; } }
  header .logo {
    width: 208px; }
    @media (max-width: 991px) {
      header .logo {
        margin: auto;
        margin-bottom: 32px;
        margin-top: 26px; }
        header .logo.logged {
          width: 152px;
          margin: 0; } }
  header .right-block {
    margin-left: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 991px) {
      header .right-block {
        margin-left: 0;
        text-align: center;
        justify-content: center; } }
    header .right-block .link {
      margin-right: 32px; }
      @media (max-width: 991px) {
        header .right-block .link {
          width: 100%;
          margin-right: 0;
          margin-bottom: 18px; } }
  header .mobile-search-btn {
    display: none; }
    @media (max-width: 991px) {
      header .mobile-search-btn {
        display: flex; } }
    header .mobile-search-btn.active svg {
      opacity: 1; }
      header .mobile-search-btn.active svg path {
        fill: #3770DD; }
    header .mobile-search-btn:hover svg path {
      fill: #3770DD; }
  header .mobile-global-search {
    display: none; }
    header .mobile-global-search.show {
      display: block; }
  header .global-search-container {
    position: relative;
    margin-right: 16px; }
    @media (max-width: 991px) {
      header .global-search-container {
        margin-top: 20px;
        margin-right: 0;
        width: 100%; } }
    header .global-search-container .clear-icon {
      display: none;
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      cursor: pointer; }
      header .global-search-container .clear-icon.show {
        display: flex; }
      header .global-search-container .clear-icon img {
        margin: auto; }
    header .global-search-container .global-search {
      width: 392px;
      height: 48px;
      border: 1px solid rgba(0, 0, 0, 0.14);
      border-radius: 3px;
      padding-left: 48px; }
      @media (max-width: 991px) {
        header .global-search-container .global-search {
          width: 100%; } }
      header .global-search-container .global-search:hover {
        border: 1px solid rgba(0, 0, 0, 0.3); }
      header .global-search-container .global-search:focus {
        border: 1px solid #3770DD; }
    header .global-search-container .icon {
      padding: 0;
      position: absolute;
      left: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: .3; }
    header .global-search-container i {
      margin-left: 16px;
      color: #1A1A1A;
      opacity: .3;
      font-size: 20px; }
    header .global-search-container input {
      width: 100%;
      height: 100%;
      font-size: 14px;
      padding-left: 48px;
      border: 0; }
      header .global-search-container input::placeholder {
        color: #1A1A1A;
        opacity: .3; }
  header .notifications-btn-section {
    margin-left: 40px;
    position: relative; }
    @media (max-width: 991px) {
      header .notifications-btn-section {
        margin-left: 16px; } }
  header .avatar-section {
    margin-left: 24px; }
    @media (max-width: 991px) {
      header .avatar-section {
        margin-left: 16px; } }
    header .avatar-section .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%; }
  @media (max-width: 991px) {
    header .button-blue {
      margin: 24px auto 0; } }

.landing-section {
  background: white;
  padding-top: 120px; }
  @media (max-width: 991px) {
    .landing-section {
      padding-top: 56px; } }

.landing-promo-section {
  padding-top: 52px; }
  @media (max-width: 991px) {
    .landing-promo-section {
      text-align: center; } }
  .landing-promo-section h1 {
    margin-bottom: 24px; }
  .landing-promo-section p {
    margin-bottom: 40px; }
    @media (max-width: 991px) {
      .landing-promo-section p {
        margin-bottom: 32px;
        padding-left: 5px;
        padding-right: 5px; } }
  .landing-promo-section img {
    margin: auto; }
    @media (max-width: 991px) {
      .landing-promo-section img {
        margin-bottom: 48px; } }

.landing-skills-section {
  padding-top: 160px; }
  @media (max-width: 991px) {
    .landing-skills-section {
      padding-top: 88px; } }
  .landing-skills-section h1 {
    margin-bottom: 57px;
    text-align: center; }
    @media (max-width: 991px) {
      .landing-skills-section h1 {
        margin-bottom: 48px; } }
  .landing-skills-section .skill-container {
    text-align: center; }
    @media (max-width: 991px) {
      .landing-skills-section .skill-container {
        margin-bottom: 48px; } }
    @media (min-width: 992px) {
      .landing-skills-section .skill-container {
        max-width: 454px; } }
    .landing-skills-section .skill-container .skill--img {
      margin-bottom: 24px; }
    .landing-skills-section .skill-container p {
      text-align: center; }

.landing-how-it-works-section {
  padding-top: 160px; }
  @media (max-width: 991px) {
    .landing-how-it-works-section {
      padding-top: 40px; } }
  @media (max-width: 991px) {
    .landing-how-it-works-section .text-block {
      text-align: center; }
      .landing-how-it-works-section .text-block p {
        margin-bottom: 24px; }
        .landing-how-it-works-section .text-block p:first-of-type {
          margin-bottom: 0; } }
  @media (min-width: 992px) {
    .landing-how-it-works-section .text-block {
      max-width: 454px; } }
  .landing-how-it-works-section .img-block {
    display: flex; }
    .landing-how-it-works-section .img-block > div {
      margin-left: auto;
      width: 564px;
      height: 340px;
      background: #E0E0E0; }
      @media (max-width: 991px) {
        .landing-how-it-works-section .img-block > div {
          width: 288px;
          height: 174px; } }
  .landing-how-it-works-section h1 {
    margin-bottom: 24px; }

.landing-opportunities-section {
  padding-top: 160px; }
  @media (max-width: 991px) {
    .landing-opportunities-section {
      padding-top: 88px;
      text-align: center; } }
  .landing-opportunities-section h1 {
    margin-bottom: 72px; }
    @media (max-width: 991px) {
      .landing-opportunities-section h1 {
        margin-bottom: 32px; } }
  .landing-opportunities-section h2 {
    margin-bottom: 6px; }
  @media (max-width: 991px) {
    .landing-opportunities-section p {
      margin-bottom: 24px; } }

@media (max-width: 991px) {
  .landing-match-section {
    padding-top: 72px;
    text-align: center; } }
.landing-match-section h1 {
  margin-bottom: 6px; }
  @media (max-width: 991px) {
    .landing-match-section h1 {
      margin-bottom: 10px; } }
@media (max-width: 991px) {
  .landing-match-section p {
    margin-bottom: 45px; } }
.landing-match-section .img-block {
  display: flex;
  justify-content: center; }
  .landing-match-section .img-block img {
    margin: auto; }

@media (max-width: 991px) {
  .landing-vsc-section {
    padding-top: 72px;
    text-align: center; }
    .landing-vsc-section h1 {
      margin-bottom: 8px; }
    .landing-vsc-section p {
      margin-bottom: 24px; } }

.landing-crossbrowsing-section {
  padding-bottom: 160px; }
  @media (max-width: 991px) {
    .landing-crossbrowsing-section {
      padding-top: 72px;
      padding-bottom: 88px;
      text-align: center; }
      .landing-crossbrowsing-section h1 {
        margin-bottom: 8px; }
      .landing-crossbrowsing-section p {
        margin-bottom: 24px; } }

.landing-rates-section {
  padding-top: 64px;
  padding-bottom: 96px; }
  @media (max-width: 991px) {
    .landing-rates-section {
      padding-top: 40px;
      padding-bottom: 64px;
      text-align: center; }
      .landing-rates-section h1 {
        margin-bottom: 32px; } }
  .landing-rates-section .row {
    justify-content: space-between; }
    @media (max-width: 991px) {
      .landing-rates-section .row {
        justify-content: space-around; } }
  .landing-rates-section h1 {
    margin-bottom: 48px;
    text-align: center; }
  .landing-rates-section .rates-item {
    width: 336px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 24px; }
    .landing-rates-section .rates-item .rates-item-block {
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      border-radius: 6px;
      padding: 34px 30px 32px;
      text-align: center;
      color: #1A1A1A; }
      @media (min-width: 992px) {
        .landing-rates-section .rates-item .rates-item-block {
          height: 427px; } }
      @media (max-width: 991px) {
        .landing-rates-section .rates-item .rates-item-block {
          padding: 32px 16px; } }
      .landing-rates-section .rates-item .rates-item-block h3 {
        font-weight: 300;
        line-height: normal;
        font-size: 26px;
        margin-bottom: 32px; }
        @media (max-width: 991px) {
          .landing-rates-section .rates-item .rates-item-block h3 {
            margin-bottom: 27px; } }
      .landing-rates-section .rates-item .rates-item-block .option {
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        margin-bottom: 12px; }
        @media (max-width: 991px) {
          .landing-rates-section .rates-item .rates-item-block .option {
            margin-bottom: 10px; } }
        .landing-rates-section .rates-item .rates-item-block .option:nth-of-type(2) {
          margin-bottom: 45px; }
          @media (max-width: 991px) {
            .landing-rates-section .rates-item .rates-item-block .option:nth-of-type(2) {
              margin-bottom: 32px; } }
      .landing-rates-section .rates-item .rates-item-block .price {
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 32px;
        margin-bottom: 16px; }
        @media (max-width: 991px) {
          .landing-rates-section .rates-item .rates-item-block .price {
            margin-bottom: 10px; } }
      .landing-rates-section .rates-item .rates-item-block .description {
        font-style: italic;
        font-weight: 300;
        line-height: 22px;
        font-size: 15px;
        margin-bottom: 39px; }
        @media (max-width: 991px) {
          .landing-rates-section .rates-item .rates-item-block .description {
            margin-bottom: 24px; } }
      .landing-rates-section .rates-item .rates-item-block .button {
        padding-top: 19px;
        padding-bottom: 17px; }

.landing-authors-section {
  padding-bottom: 120px; }
  @media (max-width: 991px) {
    .landing-authors-section {
      padding-top: 48px;
      padding-bottom: 47px;
      text-align: center; } }
  .landing-authors-section h1 {
    margin-bottom: 36px; }
    @media (max-width: 991px) {
      .landing-authors-section h1 {
        margin-bottom: 32px; } }
  @media (max-width: 991px) {
    .landing-authors-section .author-tile {
      margin-bottom: 32px; } }
  .landing-authors-section .author-tile img {
    margin-bottom: 16px; }
  .landing-authors-section .author-tile p {
    margin-bottom: 10px; }
    @media (max-width: 991px) {
      .landing-authors-section .author-tile p {
        margin-bottom: 6px; } }
  .landing-authors-section .author-tile .description {
    width: 238px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 13px;
    color: #1A1A1A;
    opacity: 0.5;
    margin-bottom: 0; }
    @media (max-width: 991px) {
      .landing-authors-section .author-tile .description {
        width: auto; } }
  @media (max-width: 991px) {
    .landing-authors-section .info-container {
      text-align: center;
      margin-top: 8px; } }
  .landing-authors-section .info-container img {
    margin-bottom: 8px; }
  .landing-authors-section .info-container p {
    margin-bottom: 24px;
    width: 248px;
    font-style: italic;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px; }
    @media (max-width: 991px) {
      .landing-authors-section .info-container p {
        width: 90%;
        margin: auto;
        margin-bottom: 24px; } }

.modal-dialog {
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24), 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 512px; } }
  .modal-dialog .modal-content {
    border: 0; }
    .modal-dialog .modal-content .modal-body {
      padding: 20px 56px 36px; }
      @media (max-width: 991px) {
        .modal-dialog .modal-content .modal-body {
          padding: 1px 20px 36px; } }
      .modal-dialog .modal-content .modal-body h2 {
        font-size: 36px;
        margin-top: 16px;
        margin-bottom: 24px; }
        .modal-dialog .modal-content .modal-body h2.fsz-24 {
          font-size: 24px;
          font-weight: 600; }
      .modal-dialog .modal-content .modal-body input {
        width: 100%;
        margin-bottom: 16px; }
      .modal-dialog .modal-content .modal-body label {
        font-size: 14px;
        color: #1A1A1A;
        margin-bottom: 7px; }
      .modal-dialog .modal-content .modal-body textarea {
        width: 100%;
        margin-bottom: 25px;
        padding-top: 20px; }
      .modal-dialog .modal-content .modal-body .password-input-container {
        position: relative; }
        .modal-dialog .modal-content .modal-body .password-input-container .btn-icon {
          padding: 0;
          position: absolute;
          right: 16px;
          top: -16px;
          bottom: 0;
          margin: auto; }
      .modal-dialog .modal-content .modal-body .subtext {
        font-size: 14px;
        margin: 0; }
      .modal-dialog .modal-content .modal-body .link {
        margin-right: 0;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        width: auto; }
      .modal-dialog .modal-content .modal-body .button-red {
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 17px; }

.custom-input {
  position: relative; }
  .custom-input.password-input-container {
    position: relative; }
    .custom-input.password-input-container .btn-icon {
      padding: 0;
      position: absolute;
      right: 16px;
      top: -16px;
      bottom: 0;
      margin: auto; }
  .custom-input input {
    padding-left: 20px;
    min-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    color: #1a1a1a;
    width: 100%; }
    .custom-input input:hover, .custom-input input:focus {
      border: 1px solid rgba(0, 0, 0, 0.2); }
    .custom-input input + .error-msg {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      color: #D81D1D; }
    .custom-input input.error {
      border: 1px solid #D81D1D; }
      .custom-input input.error + .error-msg {
        display: block; }
  .custom-input textarea {
    padding-left: 20px;
    min-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    color: #1a1a1a; }
    .custom-input textarea:hover, .custom-input textarea:focus {
      border: 1px solid rgba(0, 0, 0, 0.2); }
    .custom-input textarea + .error-msg {
      display: none;
      position: absolute;
      right: 0;
      bottom: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      color: #D81D1D; }
    .custom-input textarea.error {
      border: 1px solid #D81D1D; }
      .custom-input textarea.error + .error-msg {
        display: block; }

.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  color: #1a1a1a;
  padding: 10px 37px 10px 16px; }

.select2:hover .select2-selection--single {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.select2-container--default .select2-selection--single {
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px; }

.select2 {
  width: auto !important; }

.select2-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    content: url("../assets/svg/arrow-down.svg");
    position: absolute;
    opacity: .5;
    top: 0;
    bottom: 0;
    margin: auto; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }

.select2-results__option {
  padding-left: 17px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgba(55, 112, 221, 0.1);
  color: #1A1A1A; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.select2-container--default .select2-results__option[aria-selected=true] {
  background: white;
  color: #3770DD; }

.select2-container--open .select2-dropdown--below {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 4px;
  overflow: hidden;
  max-height: 176px;
  overflow-y: scroll; }

.project-card-container {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 0 24px 22px;
  margin-bottom: 16px; }
  @media (max-width: 991px) {
    .project-card-container {
      padding-right: 8px; } }
  .project-card-container .project-card--header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px; }
    @media (max-width: 991px) {
      .project-card-container .project-card--header {
        align-items: flex-start; } }
    .project-card-container .project-card--header .project-card-description {
      width: auto; }
      .project-card-container .project-card--header .project-card-description h4 {
        font-weight: 600;
        line-height: normal;
        font-size: 20px;
        color: #1A1A1A; }
      .project-card-container .project-card--header .project-card-description .project-card-status {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        @media (max-width: 991px) {
          .project-card-container .project-card--header .project-card-description .project-card-status {
            position: relative;
            width: 85%; } }
        .project-card-container .project-card--header .project-card-description .project-card-status .project-link {
          line-height: normal;
          font-size: 14px;
          color: #3770DD; }
          @media (max-width: 991px) {
            .project-card-container .project-card--header .project-card-description .project-card-status .project-link {
              max-width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-bottom: 8px; } }
        .project-card-container .project-card--header .project-card-description .project-card-status .enter-link {
          font-weight: normal;
          line-height: normal;
          font-size: 14px;
          color: #1A1A1A;
          opacity: 0.5; }
          .project-card-container .project-card--header .project-card-description .project-card-status .enter-link img {
            margin-left: 12px; }
          .project-card-container .project-card--header .project-card-description .project-card-status .enter-link:hover {
            text-decoration: none;
            opacity: 1; }
        .project-card-container .project-card--header .project-card-description .project-card-status .edit-btn {
          width: 24px;
          height: 24px;
          padding: 0;
          margin-left: 8px;
          margin-right: 16px; }
          @media (max-width: 991px) {
            .project-card-container .project-card--header .project-card-description .project-card-status .edit-btn {
              width: 20px;
              height: 20px;
              position: absolute;
              right: -36px;
              top: -3px;
              margin: 0; } }
        .project-card-container .project-card--header .project-card-description .project-card-status .project-label {
          font-style: italic;
          line-height: normal;
          font-size: 14px;
          font-weight: 300;
          padding: 1px 5px 2px;
          height: 20px; }
          .project-card-container .project-card--header .project-card-description .project-card-status .project-label.changed {
            color: #1A1A1A;
            background: #FFF1A5; }
          .project-card-container .project-card--header .project-card-description .project-card-status .project-label.not-responsed {
            background: #D81D1D;
            color: white; }
    .project-card-container .project-card--header .project-page-percentage {
      width: auto;
      display: flex;
      margin-left: auto;
      font-weight: 600;
      line-height: normal;
      font-size: 38px;
      color: #1A1A1A; }
      @media (max-width: 991px) {
        .project-card-container .project-card--header .project-page-percentage {
          font-size: 20px; } }
  .project-card-container .project-card--body {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 18px;
    width: calc(100% + 48px);
    margin-left: -24px; }
    @media (max-width: 991px) {
      .project-card-container .project-card--body {
        width: calc(100% + 32px); } }
    .project-card-container .project-card--body .body-item {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 14px; }
      @media (max-width: 991px) {
        .project-card-container .project-card--body .body-item {
          line-height: 17px;
          margin-bottom: 10px; } }
      .project-card-container .project-card--body .body-item.name {
        width: 344px;
        margin-right: 48px;
        margin-left: 0; }
        @media (max-width: 991px) {
          .project-card-container .project-card--body .body-item.name {
            width: 100%;
            text-align: left;
            margin-right: 16px; } }
      .project-card-container .project-card--body .body-item.width {
        width: 55px; }
        @media (max-width: 991px) {
          .project-card-container .project-card--body .body-item.width {
            width: 100%;
            text-align: left;
            margin-left: 0; } }
      .project-card-container .project-card--body .body-item.date {
        width: 64px;
        text-align: center; }
        @media (max-width: 991px) {
          .project-card-container .project-card--body .body-item.date {
            width: 100%;
            text-align: left;
            margin-left: 0;
            order: 1;
            margin-bottom: 0; } }
    .project-card-container .project-card--body .project-card--body--header {
      padding-left: 24px;
      width: 100%;
      padding-right: 8px;
      padding-bottom: 8px;
      color: rgba(26, 26, 26, 0.5);
      display: flex; }
      @media (max-width: 991px) {
        .project-card-container .project-card--body .project-card--body--header {
          display: none; } }
    .project-card-container .project-card--body .project-card--body--item {
      width: 100%;
      height: 36px;
      padding: 10px 8px 9px 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer; }
      @media (max-width: 991px) {
        .project-card-container .project-card--body .project-card--body--item {
          height: auto;
          position: relative; } }
      .project-card-container .project-card--body .project-card--body--item:hover {
        background-color: rgba(55, 112, 221, 0.1); }
      .project-card-container .project-card--body .project-card--body--item:last-of-type {
        margin-bottom: 16px; }
      .project-card-container .project-card--body .project-card--body--item .body-item.result {
        font-weight: bold; }
        @media (max-width: 991px) {
          .project-card-container .project-card--body .project-card--body--item .body-item.result {
            width: 100%;
            text-align: left;
            margin-left: 0; } }
        .project-card-container .project-card--body .project-card--body--item .body-item.result.bad {
          color: #D81D1D; }
      @media (max-width: 991px) {
        .project-card-container .project-card--body .project-card--body--item .popup-container {
          position: absolute;
          right: 17px;
          top: 10px; } }

.fixed-controls {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 26px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.04); }
  .fixed-controls .result-controls--row {
    margin-bottom: 0; }
  .fixed-controls + .result-section {
    margin-top: 96px; }

@keyframes showFromTop {
  0% {
    transform: translateY(-96px); }
  100% {
    transform: translateY(0); } }
.result-controls--row {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px; }
  .result-controls--row .result--value {
    color: #1A1A1A;
    font-weight: 600;
    line-height: normal;
    font-size: 44px;
    position: relative; }
    .result-controls--row .result--value:after {
      content: 'соответствия';
      position: absolute;
      right: 0;
      left: 0;
      bottom: -15px;
      margin: auto;
      font-size: 13px;
      opacity: .5;
      font-weight: 300; }
  .result-controls--row .slider-link {
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #1A1A1A;
    border-bottom: 1px dotted rgba(26, 26, 26, 0.5); }
    .result-controls--row .slider-link:hover {
      text-decoration: none; }
  .result-controls--row .select--col {
    padding-right: 24px;
    padding-left: 0; }
  .result-controls--row .checkbox--col {
    padding-right: 46px;
    padding-left: 0; }
  .result-controls--row .slider-link--col {
    padding-left: 0;
    padding-right: 0; }
    .result-controls--row .slider-link--col:last-of-type {
      padding-right: 15px; }
  .result-controls--row .slider--col {
    padding-left: 26px;
    padding-right: 26px;
    max-width: 432px; }

.result-section {
  margin-top: 48px;
  padding-bottom: 120px; }
  .result-section .container {
    width: 1040px;
    padding-left: 0;
    padding-right: 0;
    position: relative; }
    .result-section .container img {
      z-index: 1; }
      .result-section .container img[slider-target="verstka"] {
        opacity: 0; }
      .result-section .container img:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2; }
      .result-section .container img.contures {
        z-index: 3; }
  @media (min-width: 992px) {
    .result-section.mobile-msg {
      display: none; } }
  .result-section .result-mobile {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 44px;
    text-align: center;
    color: #1A1A1A;
    position: relative;
    margin-bottom: 48px; }
    .result-section .result-mobile:after {
      position: absolute;
      content: 'соответствия';
      left: 0;
      right: 0;
      bottom: -13px;
      margin: auto;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 13px;
      text-align: center;
      color: #1A1A1A;
      opacity: 0.5; }
  .result-section .error-text {
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 16px;
    text-align: center;
    color: #1A1A1A;
    width: 257px;
    margin: auto; }

.checkbox-container input {
  display: none; }
.checkbox-container label {
  margin-bottom: 0;
  padding-left: 30px;
  font-weight: normal;
  line-height: normal;
  font-size: 16px; }
  .checkbox-container label:hover:after {
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .checkbox-container label:after {
    content: '';
    position: absolute;
    left: 0px;
    top: -2px;
    bottom: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    transition: all .3s; }
  .checkbox-container label:before {
    opacity: 0;
    content: url("../assets/svg/check.svg");
    width: 16px;
    height: 12px;
    position: absolute;
    z-index: 2;
    left: 3px; }
.checkbox-container input:checked + label:before {
  opacity: 1; }

.noUi-target {
  background: linear-gradient(90deg, #D81D1D 0%, #3770DD 100%);
  border: 0;
  box-shadow: none;
  height: 3px; }

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 100%;
  top: -13px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.2); }
  .noUi-horizontal .noUi-handle:after {
    display: none; }
  .noUi-horizontal .noUi-handle:before {
    display: none; }

.my-account--section {
  padding-top: 40px; }
  .my-account--section h3 {
    margin-bottom: 24px; }
  .my-account--section .avatar-row {
    margin-bottom: 41px; }
  .my-account--section .name-row {
    margin-bottom: 48px; }
  .my-account--section .user-avatar-col {
    padding-right: 9px; }
    .my-account--section .user-avatar-col .user-avatar {
      width: 96px;
      height: 96px;
      border-radius: 100%; }
      @media (max-width: 991px) {
        .my-account--section .user-avatar-col .user-avatar {
          width: 80px;
          height: 80px; } }
  .my-account--section .button-blue-outline {
    padding: 15px;
    font-size: 14px; }
  .my-account--section .button-red {
    padding: 15px;
    font-size: 14px; }
  .my-account--section .custom-input {
    padding-bottom: 16px; }
  .my-account--section .img-text-name-col {
    padding-top: 5px; }
    .my-account--section .img-text-name-col .img-text-name {
      display: flex; }
      .my-account--section .img-text-name-col .img-text-name button {
        margin-left: 12px; }

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08); }
  @media (min-width: 992px) {
    footer {
      height: 75px; } }
  @media (max-width: 991px) {
    footer {
      padding-top: 24px;
      padding-bottom: 14px; } }
  footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: center; }
    @media (max-width: 991px) {
      footer .footer-container {
        text-align: center; }
        footer .footer-container > * {
          width: 100%; } }
    footer .footer-container .copyright {
      margin-bottom: 20px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      color: #1A1A1A;
      opacity: 0.3; }
      @media (min-width: 992px) {
        footer .footer-container .copyright {
          margin-right: auto;
          margin-bottom: 0; } }
    footer .footer-container .link {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      color: #3770DD;
      margin-bottom: 10px; }
      @media (min-width: 992px) {
        footer .footer-container .link {
          margin-left: 32px;
          margin-bottom: 0; } }

.projects-section .project-section--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .projects-section .project-section--container .project-section--item {
    max-width: 337px;
    height: 408px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin-bottom: 30px;
    color: #1A1A1A;
    transition: all .3s; }
    @media (max-width: 991px) {
      .projects-section .project-section--container .project-section--item {
        height: 392px; } }
    @media (max-width: 991px) {
      .projects-section .project-section--container .project-section--item {
        margin: auto auto 32px auto; } }
    .projects-section .project-section--container .project-section--item:hover {
      cursor: pointer;
      color: #2360D6; }
    .projects-section .project-section--container .project-section--item .project-section--item--album {
      width: 100%;
      height: 216px; }
      @media (max-width: 991px) {
        .projects-section .project-section--container .project-section--item .project-section--item--album {
          height: 200px; } }
    .projects-section .project-section--container .project-section--item .project-section--item--description-container {
      padding: 18px 20px 20px;
      display: flex;
      flex-direction: column;
      height: 191px; }
      .projects-section .project-section--container .project-section--item .project-section--item--description-container .project-section--item--heading {
        max-height: 47px;
        overflow: hidden;
        margin-bottom: 5px;
        color: inherit;
        font-weight: 600;
        line-height: 23px;
        font-size: 16px; }
        @media (max-width: 991px) {
          .projects-section .project-section--container .project-section--item .project-section--item--description-container .project-section--item--heading {
            white-space: nowrap;
            max-width: 248px;
            text-overflow: ellipsis; } }
      .projects-section .project-section--container .project-section--item .project-section--item--description-container .project-section--item--text {
        max-height: 37px;
        overflow: hidden;
        font-style: normal;
        font-weight: normal;
        line-height: 19px;
        margin-bottom: 0;
        font-size: 13px;
        color: #1A1A1A; }
      .projects-section .project-section--container .project-section--item .project-section--item--description-container .pages-block {
        margin-top: auto;
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        .projects-section .project-section--container .project-section--item .project-section--item--description-container .pages-block .pages-block--icon {
          opacity: .3;
          margin-right: 10px; }
        .projects-section .project-section--container .project-section--item .project-section--item--description-container .pages-block .pages-block--text {
          color: #1A1A1A;
          opacity: .6;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 13px;
          margin-bottom: 0; }
      .projects-section .project-section--container .project-section--item .project-section--item--description-container .last-changes-block {
        display: flex;
        align-items: center; }
        .projects-section .project-section--container .project-section--item .project-section--item--description-container .last-changes-block .last-changes-block--icon {
          opacity: .3;
          margin-right: 8px; }
        .projects-section .project-section--container .project-section--item .project-section--item--description-container .last-changes-block .last-changes-block--text {
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 13px;
          color: #1A1A1A;
          opacity: 0.6;
          margin-bottom: 0; }
        .projects-section .project-section--container .project-section--item .project-section--item--description-container .last-changes-block .btn-icon {
          padding: 0;
          margin-left: auto;
          opacity: .3; }
          .projects-section .project-section--container .project-section--item .project-section--item--description-container .last-changes-block .btn-icon:hover {
            opacity: .5; }