button {
  outline: none !important;
}

.button {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 24px 13px;
  border-radius: 3px;
  border: 0;
  &[disabled]{
    background: #C8C8C8 !important;
    color: white !important;
  }
  &.button-blue {
    background: #3770DD;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: all .3s;
    &:hover {
      background: #2360D6;
    }
  }
  &.button-blue-outline {
    background: transparent;
    font-weight: 300;
    color: #3770DD;
    line-height: normal;
    font-size: 16px;
    border: 1px solid rgba(55, 112, 221, .5);
    transition: all .3s;
    &:hover {
      border: 1px solid rgba(55, 112, 221, .8);
    }
  }
  &.button-red {
    background: #D81D1D;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: all .3s;
    &:hover {
      background:  #D51212;;
    }
  }
}

.btn-icon {
  cursor: pointer;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all .3s;
  padding: 7px;
  &.avatar{
    padding: 0;
    img{
      opacity: 1;
    }
  }
  @media(max-width: 991px){
    padding: 0;
  }
  &.has-updates {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: red;
      top: 5px;
      right: 5px;

      @media(max-width: 991px){
        top: 0;
        right: -2px;
      }
    }
  }
  svg {
    fill: #1A1A1A;
    opacity: .3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  img{
    opacity: .3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  &:hover {
    img,svg{
      opacity: .8;
    }
  }

}
