.checkbox-container{
  input{
    display: none;
  }
  label{
    margin-bottom: 0;
    padding-left: 30px;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    &:hover{
      &:after{
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
    &:after{
      content: '';
      position: absolute;
      left: 0px ;
      top: -2px;
      bottom: 0;
      margin: auto;
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 3px;
      transition: all .3s;
    }
    &:before{
      opacity: 0;
      content: url("../assets/svg/check.svg");
      width: 16px;
      height: 12px;
      position: absolute;
      z-index: 2;
      left: 3px;
    }
  }
  input:checked{
    + label:before{
      opacity: 1;
    }
  }
}