header {
  min-height: 88px;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.04);

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .logo {
    @media (max-width: 991px) {
      margin: auto;

      width: 208px;
      margin-bottom: 32px;
      margin-top: 26px;
    }
  }
  .right-block {
    margin-left: auto;
    width:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 991px) {
      text-align: center;
      justify-content: center;
    }
    .link {
      margin-right: 32px;
      @media (max-width: 991px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 18px;
      }
    }

  }
  .global-search-container {
    position: relative;
    margin-right: 16px;
    .clear-icon{
      display: none;
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      cursor: pointer;
      &.show{
        display: flex;
      }
      img{
        margin: auto;
      }
    }
    .global-search{
      width: 392px;
      height: 48px;
      border: 1px solid rgba(0, 0, 0, 0.14);
      border-radius: 3px;
      padding-left: 48px;
      &:hover{
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
      &:focus{
        border: 1px solid #3770DD;

      }
    }

    .icon {
      padding: 0;
      position: absolute;
      left: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: .3;
    }
    i {
      margin-left: 16px;
      color: #1A1A1A;
      opacity: .3;
      font-size: 20px;
    }
    input {
      width: 100%;
      height: 100%;
      font-size: 14px;
      padding-left: 48px;
      border: 0;
      &::placeholder {
        color: #1A1A1A;
        opacity: .3;
      }
    }
  }
  .notifications-btn-section{
    margin-left: 40px;
    position: relative;
    .btn-icon{
    }
  }
  .avatar-section{
    margin-left: 24px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
}