.modal-dialog {
  @media (min-width: 576px) {
    max-width: 512px;
  }
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24), 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  .modal-content {
    border: 0;
    .modal-body {
      padding: 20px 56px 36px;
      @media (max-width:991px){
        padding: 1px 20px 36px;
      }
      h2 {
        font-size: 36px;
        margin-top: 16px;
        margin-bottom: 24px;
      }
      input {
        width: 100%;
        margin-bottom: 16px;
      }
      label {
        font-size: 14px;
        color: #1A1A1A;
        margin-bottom: 7px;
      }
      textarea {
        width: 100%;
        margin-bottom: 25px;
        padding-top: 20px;
      }
      .password-input-container{
        position: relative;
        .btn-icon{
          padding: 0;
          position: absolute;
          right: 16px;
          top: -16px;
          bottom: 0;
          margin: auto;
        }
      }
      .subtext{
        font-size: 14px;
        margin: 0;
      }
      .link{
        margin-right: 0;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        width: auto;
      }
      .custom-input {
        padding-left: 20px;
        min-height: 48px;
        border: 1px solid rgba(0, 0, 0, .14);
        box-sizing: border-box;
        border-radius: 3px;
        font-size: 14px;
        color:#1a1a1a;
        &:hover,&:focus{
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
      .button-red{
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 17px;
      }
    }
  }
}