.popup-container {
  position: relative;
  .btn-icon{
    img{
      margin-left: 8px;
    }
  }
  .popup {
    padding-top: 12px;
    display: none;
    position: absolute;
    right: 0;
    z-index: 200;
    &:before {
      content: url("../assets/svg/popup-arrow.svg");
      position: absolute;
      top: -5px;
      width: 12px;
      height: 8px;
      right: 13px;
      z-index: 5;
    }
    &.show {
      display: block;
    }
    &.project-popup{
      left: 0;
      margin: auto;
      top: -16px;
      width: 164px;
      transform: translateX(-50%);
      font-size: 14px;
      &:before{
        display: none;
      }
      .popup-content{
        left: 0;
        margin: auto;
      }
    }
    &.popup-info{
      top: -12px;
      &:before{
        display: none;
      }
      .popup-content{
        background: rgba(26,26,26,.9);
        padding: 6px 12px;
        transform: translate(30%,-100%);
        min-width: 153px;
        box-shadow: none;
        p{
          color: white;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          font-size: 13px;
          margin-bottom: 0;
        }
      }
    }
    .popup-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      background: white;
      border-radius: 3px;
      padding-top: 8px;
      padding-bottom: 8px;
      right: 0;
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.24), 0px 2px 6px rgba(0, 0, 0, 0.08);
      &.lk {
        width: 108px;
        height: 80px;
        font-size: 14px;
      }
      &.notifications {
        font-size: 13px;
        overflow-y: scroll;
        width: 456px;
        height: 224px;
        max-height: 224px;
        position: relative;
        .link {
          line-height: 17px;
          padding-right: 42px;
        }
        &.no-notifications{
          position: relative;
          &:after{
            content: 'Все оповещения прочитаны';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            font-size: 16px;
            text-align: center;
            color: #1A1A1A;
            opacity: 0.4;
            height: 22px;
          }
        }
      }

      //elements
      .link {
        padding-top: 8px;
        padding-bottom: 7px;
        padding-left: 16px;
        color: #1A1A1A;
        width: 100%;
        line-height: normal;
        &:hover {
          background: rgba(55, 112, 221, .1);
          text-decoration: none;

        }
        &.link-w-icon{
          padding-left: 42px;
          position: relative;
          &:hover{
            img{
              opacity: .8;
            }
          }
          img{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 16px;
            opacity: .3;
          }
        }
      }
    }

  }
}
