.projects-section {

  .project-section--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .project-section--item {
      max-width: 337px;
      height: 408px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      //overflow: hidden;
      margin-bottom: 30px;
      color: $black;
      transition: all .3s;
      &:hover {
        cursor: pointer;
        color: #2360D6;
      }
      .project-section--item--album {
        width: 100%;
        height: 216px;
      }
      .project-section--item--description-container {
        padding: 18px 20px 20px;
        display: flex;
        flex-direction: column;
        height: 191px;
        .project-section--item--heading {
          max-height: 47px;
          overflow: hidden;
          margin-bottom: 5px;
          color: inherit;
          font-weight: 600;
          line-height: 23px;
          font-size: 16px;
        }
        .project-section--item--text {
          max-height: 37px;
          overflow: hidden;
          font-style: normal;
          font-weight: normal;
          line-height: 19px;
          margin-bottom: 0;
          font-size: 13px;
          color: $black;
        }
        .pages-block {
          margin-top: auto;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .pages-block--icon {
            opacity: .3;
            margin-right: 10px;
          }
          .pages-block--text {
            color: $black;
            opacity: .6;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 13px;
            margin-bottom: 0;
          }
        }
        .last-changes-block{
          display: flex;
          align-items: center;
          .last-changes-block--icon{
            opacity: .3;
            margin-right: 8px;
          }
          .last-changes-block--text{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 13px;
            color: #1A1A1A;
            opacity: 0.6;
            margin-bottom: 0;
          }
          .btn-icon{
            padding: 0;
            margin-left: auto;
            opacity: .3;
            &:hover{
              opacity: .5;
            }
          }
        }
      }
    }
  }
}