.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  color: #1a1a1a;
  padding: 10px 37px 10px 16px;
}

.select2-container--default .select2-selection--single {
  height: 48px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.select2 {
  width: auto !important;
}

.select2-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 4px;
  &:before {
    content: url("../assets/svg/arrow-down.svg");
    position: absolute;
    opacity: .5;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  b {
    display: none;
  }

}

