.site-nav{
  padding-top: 32px;
  margin-bottom: 29px;
  @media(max-width:991px){
    margin-bottom: 25px;
    padding-top: 20px;
  }
  .site-nav--container{

    .site-nav--item{
      font-size: 13px;
      color: #3770DD;
      margin-right: 12px;
      &:not(:first-of-type){
        padding-left: 18px;
        position: relative;
        &:before{
          content: url("../assets/svg/arrow-right.svg");
          position: absolute;
          left: 0;
          top: -1px;
          bottom: 0;
          margin: auto;
          opacity: 0.3;
        }
      }
      &:last-of-type{
        color: rgba(26,26,26,.5);
        &:hover{
          color: rgba(26,26,26,1);
        }
      }
      &:hover{
        text-decoration: none;
        color: #2360D6;
      }
    }
  }
}